<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/view-comments.css}">
    <script src="https://cdn.tiny.cloud/1/qc2vw115ri99od13ogvd1onxlq5i3bj4pxu436pxed4w2pvk/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#input-comment'
        });
    </script>
</head>
<body>
    <main>
        <div id="container">
            <div id="post-header">
                <img src="https://banner2.cleanpng.com/20180623/iqh/kisspng-computer-icons-avatar-social-media-blog-font-aweso-avatar-icon-5b2e99c40ce333.6524068515297806760528.jpg"
                     width="32px" height="32px"/>
                <span th:text="'r/' + ${fullPostViewDto.subReddit.subRedditName}"/>
                <span th:text="${fullPostViewDto.createdAt}"/>
<!--                <p th:value="${fullPostViewDto.opUser.username"/>-->
<!--                subreddit name-->
<!--                post created at-->
<!--                owner of post (user)-->
            </div>
            <div id="post-title-text">
                <div id="post-title">
                    <h2 th:text="${fullPostViewDto.post.title}"/>
                </div>
                <div id="post-text">
                    <p th:text="${fullPostViewDto.post.body}"/>
                </div>
            </div>
<!--            <div id="post-media">-->

<!--            </div>-->
<!--            <div id="post-actions">-->

<!--            </div>-->
            <div id="comment-input">
                <form>
                    <textarea id="input-comment"></textarea>
                    <input type="submit" value="Comment"/>
                </form>
            </div>
        </div>
    </main>
</body>
</html>