<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" th:href="@{/css/view-post.css}">

    <!------------------LIght BOx for Gallery-------------->
    <script type="text/javascript" src="lightbox-plus-jquery.min.js"></script>
    <script>
        function votePost(postId, voteType) {
            fetch('/posts/' + postId + '/vote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ voteType: voteType })
            })
                .then(response => response.json())
                .then(data => {
                    // Update the UI with the new vote count and user vote
                    const voteCountSpan = document.querySelector(`[data-post-id="${postId}"] span`);
                    const upvoteButton = document.querySelector(`[data-post-id="${postId}"] button:first-child`);
                    const downvoteButton = document.querySelector(`[data-post-id="${postId}"] button:last-child`);

                    voteCountSpan.textContent = data.voteCount;
                    upvoteButton.classList.remove('voted');
                    downvoteButton.classList.remove('voted');

                    if (data.userVote === 'UPVOTE') {
                        upvoteButton.classList.add('voted');
                    } else if (data.userVote === 'DOWNVOTE') {
                        downvoteButton.classList.add('voted');
                    }
                })
                .catch(error => {
                    console.error('Error voting:', error);
                });
        }
    </script>
    <!------------------LIght BOx for Gallery-------------->
    <title th:text="${fullPostViewDto.post.title}"/>
</head>
<body>


<!-------------------------------NAvigation Starts------------------>

<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:black">
    <a href="/feed/all" class="navbar-brand"><img src="/redditlogo/lol.png" alt="logo" class="img-fluid" width="60px"
                                                      height="80px"> <span style="padding-left:15px; font-size: 25px">Reddit</span></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="responsive">
        <ul class="navbar-nav mr-auto text-capitalize">
            <!--            <li class="nav-item"><a href="#modalview" class="nav-link" data-toggle="modal">messages</a></li>-->
        </ul>
        <form action="" class="form-inline ml-auto d-none d-md-block">
            <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
            <input type="submit" value="search" class="search-button">
        </form>
        <a th:href="@{'/u/' + ${userDto.username}}">
            <img th:src="'/beanheads/'+${userDto.getMediaUri()}" alt="" class="rounded-circle ml-3 d-none d-md-block" width="70px" height="70px">
        </a>

    </div>
</nav>

<!--<div class="modal fade" id="modalview">-->
<!--    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!-------------------------------------------Start Grids layout for lg-xl-3 columns and (xs-lg 1 columns)--------------------------------->


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3">

            <div class="left-column">
                <a href="/feed/all"><button><i class="fas fa-home"></i> Home</button></a>
                <a href="/feed/all"><button><i class="fas fa-fire"></i> Popular</button></a>
                <a href="/feed/all"><button><i class="fas fa-list"></i> All</button></a>
                <div class="card card-left1 mb-4">
                    <div class="card-body text-center " th:if="${#authorization.expression('isAuthenticated()')}">
                        <img th:src="'/beanheads/'+${userDto.mediaUri}" alt="img" width="120px" height="120px"
                             class="rounded-circle mt-n5">
                        <h5 class="card-title" th:text="${userDto.username}"></h5>
                        <p class="card-text text-justify mb-2"></p>
                        <ul class="list-unstyled nav justify-content-center">
                            <p href="#" class="text-dark text-decoration-none">
                                <li class="nav-item">joined : 12th september 1972<br>
                                    <strong>karma : 12</strong>
                                </li>
                            </p>
                            <!--                            <a href="#" class="text-dark text-decoration-none">-->
                            <!--                                <li class="nav-item"><br> <strong></strong></li>-->
                            <!--                            </a>-->
                        </ul>
                    </div>
                    <div class="card-body text-center " th:unless="${#authorization.expression('isAuthenticated()')}">
                        <a href="login-page">Login To view your Reddit-Card</a>
                    </div>
                </div>

                <div class="card shadow-sm card-left2 mb-4">

                    <div class="card-body">
                        <h5 class="mb-3 card-title">SubReddits
                            <small><a href="#" class="ml-1"></a></small></h5>
                        <a th:href="@{/r/form/new}" class="new-subreddit-button"> + New SubReddit</a>
                        <div th:each="subReddit : ${subReddits}" class="subreddit-container">
                            <a class="card-text, subreddit-link" th:text="'r/'+${subReddit}" th:href="@{'/r/' + ${subReddit}}"
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="middle-column">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <form class="form-inline">
                            <div class="input-group w-100">
                                <input type="text" name="message" id="message" placeholder="Message"
                                       class="form-control form-control-md">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fas fa-camera"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="post-container" class="card-body">
                        <div class="media">
                            <img th:src="'/feed/image/'+${fullPostViewDto.subReddit.avatar}"
                                 width="60px" height="60px" alt="subreddit" style="object-fit: cover; border-radius: 50%; margin-right: 10px"/>
                            <div class="media-body">
                                <div class="post-card">
                                    <h5 th:text="'r/' + ${fullPostViewDto.subReddit.subRedditName}"></h5>
                                    <p th:text="'u/'+${fullPostViewDto.opUser.username}"></p>
                                    <h4 th:utext="${fullPostViewDto.post.title}"></h4>
                                    <small th:text="${fullPostViewDto.createdAt.getMonth()}+' '+${fullPostViewDto.createdAt.getDayOfMonth()}"></small>
                                    <p class="card-text text-justify" th:utext="${fullPostViewDto.post.body}">
                                    </p>
                                    <div class="image-container" th:if="${fullPostViewDto.mediaUri == ''} " style="display: none">
                                        <img th:src="${'/feed/image/'+fullPostViewDto.mediaUri}"  alt="Image" class="post-image"/>
                                    </div>
                                    <div class="post-actions">
                                        <form th:action="@{/voting}" method="post">
                                            <input type="hidden" name="votetype" th:value="UPVOTE">
                                            <input type="hidden" name="postId" th:value="${postId}">
                                            <button type="submit"><i class="fas fa-arrow-up upvote"></i></button>
                                        </form>
                                        <p id="voteCount" th:text="${fullPostViewDto.voteCount}"/>
                                        <form th:action="@{/voting}" method="post">
                                            <input type="hidden" name="votetype" th:value="DOWNVOTE">
                                            <input type="hidden" name="postId" th:value="${postId}">
                                            <button><i class="fas fa-arrow-down downvote"></i></button>
                                        </form>
                                        <button>
                                            <i class="fas fa-comment comment"></i>
                                            <p th:text="${fullPostViewDto.commentCount}"/>
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="comment-form">
                                    <form method="post" th:action="@{'/r/comment/add/' + ${postId}}" >
                                        <textarea class="comment-field" name="commentText"></textarea>
                                        <input type="submit" value="Comment">
                                    </form>
                                    <br>
                                    <br>
                                    <div class="comment-container" th:each="comment : ${fullPostViewDto.comments}">
                                        <div class="comment">
                <!--                    <div class="comment-author">-->
                <!--                        <span th:text="${postedComment.author.name} + ' @' + ${postedComment.author.username}" class="comment-author"></span>-->
                <!--                        <div class="comment-time" th:text="${comment.createdAt.toLocaleString()}"></div>-->
                <!--                    </div>-->
                                            <div>
                                                <div th:if="${editCommentId==comment.commentId}" class="comment-content">
                                                    <form th:action="@{'/r/comments/update/' + ${postId}}" method="post">
                                                        <input type="hidden" name="commentIdToUpdate" th:value="${comment.commentId}">
                                                        <input type="text" th:value="${comment.comment}" name="updatedComment" class="comment-content-update">
                                                        <input type="submit" value="save">
                                                    </form>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="comment-actions">
                                                    <div th:unless="${editCommentId==comment.commentId}" class="comment-content">
                                                        <img th:src="'/beanheads/'+${comment.user.profilePic}"
                                                             width="45px" height="45px" alt="subreddit" style="object-fit: cover; border-radius: 50%; margin-right: 10px"/>
                                                        <div class="whocomment">
                                                            <strong th:text="'u/'+${comment.user.username}"></strong>
                                                            <p th:text="${comment.comment}" class="comment-text"></p>
                                                        </div>

                                                    </div>
                                                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                                                        <div th:if="${#authentication.principal.username.equals(comment.user.username)}" class="comment-actions-buttons">
                                                            <div class="actions">
                                                                <form th:action="@{'/r/delete/comment/' + ${postId}}" method="post">
                                                                    <input type="hidden" name="deleteCommentId" th:value="${comment.commentId}">
                                                                    <input type="submit" value="delete" name="deleteComment" class="comment-delete-button">
                                                                </form>
                                                                <form th:unless="${editCommentId==comment.commentId}" th:action="@{'/r/edit/comment/' + ${postId}}">
                                                                    <input type="hidden" name="editCommentId" th:value="${comment.commentId}">
                                                                    <input type="submit" value="update" class="comment-update-button">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br> <br><br> <br> <br>
        </div>
        <script>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>